{% extends 'base.html' %}
{% block content %}

<h1>Member list page!</h1>
<table class="table table-hover">
    <thead class="border-bottom">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Phone</th>
            <th>Gender</th>
            <th>Profession</th>
            <th>
                <a href="{% url 'form-page' %}" class="btn btn-outline-success"><i class="fa fa-plus fa-sm"></i></a>
            </th>
        </tr>
    </thead>
    <tbody>

        {% for member in members %}
        <tr>
            <td>{{ member.id }}</td>
            <td>{{ member.name }}</td>
            <td>{{ member.email }}</td>
            <td>{{ member.age }}</td>
            <td>{{ member.phone }}</td>
            <td>{{ member.gender }}</td>
            <td>{{ member.position }}</td>
            <th>
                <a href="" class="btn text-info"><i class="fa fa-edit fa-sm"></i></a>
                <a href="" class="btn text-danger"><i class="fa fa-trash-alt fa-sm"></i></a>
            </th>
        </tr>
        {% endfor%}

    </tbody>
</table>

{% endblock %}