{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1>Update Your Information</h1>
<hr>
<form action="" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            {{form.name|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.email|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{form.age|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.phone|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{form.gender|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.position|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-block btn-success">update</button>
        </div>
        <div class="col-md-6">
            <a href="{% url 'member-list' %}" class="btn btn-block btn-secondary">Cancel</a>
        </div>
    </div>


</form>
{% endblock %}