{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            {{form.title|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.artist_name|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.album_title|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.genre|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.len|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.count|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.rating|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-success btn-block">Update</button>
        </div>
        <div class="col">
            <a href="{% url 'music-list' %}" class="btn btn-secondary btn-block">Cancel</a>
        </div>
    </div>
</form>

{% endblock %}