body{
    background: #fafafa;
    color: #333333;
}
h1, h2, h3, h4, h5, h6{
    color: #444444;
}
ul{
    margin: 0;
}
.bg-steel{
    background-color: #5f788a;
}
.post-card img{
    height: 200px;
    width: auto;
    
}
.post-card .card-body{
    height: 200px;
    width: auto;
}
.p-update{
    border-radius: 1px;
    border: 1px solid #efefef;
}

