{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-8">
        <div class="media border">
            <img src="{{ user.profile.image.url }}" alt="" class="img-fluid img-thumbnail align-self-start mr-3">

            <div class="media-body">
                <h4 class="mt-0">{{user.username}}</h4>
                <p class="border-bottom">{{user.email}}</p>
                <p>Web Application Developer</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, quis.</p>
                <a href="{% url 'profile-update'%}" class="d-inline">Update</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}